{% extends 'core\\base.html' %}
    <main>
        <section>
            <div class="row" style="height: 200px;">
                <div class="col result" >
                    <p><strong>
                       ¿Quienes somos?</br>
                       Pues somos 4 estudiantes de la UPC con muchisísimas ganas de apernder y experimentar cosas nuevas y que mejor escenario que la HackUpc para dar rienda
                       sueltas a nuestra imaginación y conocimientos.
                    </p></strong>
                </div>       
            </div>

             <div class = "row">
                <div class="col result" >
                    <p><strong>
                       Imagen
                    </p></strong>
                </div>
                <div class="col result" >
                    <p><strong>
                       Imagen
                    </p></strong>
                </div>
                <div class="col result" >
                    <p><strong>
                       Imagen
                    </p></strong>
                </div>
                <div class="col result" >
                    <p><strong>
                       Imagen
                    </p></strong>
                </div>
             </div>
             <div class = "row">
                <div class="col result" >
                    <p><strong>
                       Miguel Marin
                    </p></strong>
                </div>
                <div class="col result" >
                    <p><strong>
                       Max Tiessler
                    </p></strong>
                </div>
                <div class="col result" >
                    <p><strong>
                       Miguel Lopez
                    </p></strong>
                </div>
                <div class="col result" >
                    <p><strong>
                       Pol
                    </p></strong>
                </div>
             </div>

        </section>

    </main>
