<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{%endblock%} | r3stD.ai</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'core\assets\img\59137.jpg' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core\css\styles.css' %}" rel="stylesheet" />
    </head>
    <body>
    
        <!-- Navigation-->
        <!-- Navbar-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a href="{% url 'home' %}"><img src="{% static 'core\assets\img\59137.jpg' %}" width="50px" height="50px" alt="logo"></a>
                <a class="navbar-brand" style="color: #f7941d" href="{% url 'aboutus' %}">About Us</a>
                <a class="navbar-brand" style="color: #f7941d" href="{% url 'docs' %}">Documentation</a>
                <a class="navbar-brand" style="color: #f7941d" href="#!">Devpost</a>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Made by ThaTeam22. <br> All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-github fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'core\js\scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
