{% extends 'core\\base.html' %}
{% block title %}
Technologies
{% endblock %}

{% block content %}
{% load static %}

<section class="testimonials text-center bg-light">    
        <div class="container">
            <h2 class="mb-5">Technologies</h2>
            <div class="row">
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://restb.ai/" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/Restb_ai_Logo_Real_Estate.webp' %}" alt="..." /></a>
                            <h5 style="color: #f7941d">Restb.ai</h5>
                            <p class="font-weight-light mb-0" >"Frontend & UX"</p>
                            <br>
                            <br>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://www.djangoproject.com/" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/django.jpg' %}" alt="..." /></a>                        <h5 style="color: #f7941d">Max Tiessler</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0"  >
                        <a href="https://ngrok.com/" target="_blank"><img class="img-fluid rounded-circle mb-3"  src="{% static 'core/assets/img/ngrok.png' %}" alt="..." /></a>
                        <h5 style="color: #f7941d">Ngrok</h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://www.matthewtancik.com/nerf" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/nerf.jpg' %}" alt="..." /></a>
                        <h5 style="color: #f7941d">NeRF</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://colmap.github.io/" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/colmap.png' %}" alt="..." /></a>
                            <h5 style="color: #f7941d">COLMAP</h5>
                            <br>
                            <br>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://getbootstrap.com/" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/bootstrap.jpg' %}" alt="..." /></a>
                        <h5 style="color: #f7941d">Bootstrap</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://firebase.google.com/?gclid=Cj0KCQjwvLOTBhCJARIsACVldV39r4ovpTF4tTRNJ7a041ptkusIQSDWhg7Q1dpyKJn7cUa37s2e7YAaAp0GEALw_wcB&gclsrc=aw.ds" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/firebase.webp' %}" alt="..." /></a>
                        <h5 style="color: #f7941d">Firebase</h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://sketchfab.com/" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/sketchfub.jpeg' %}" alt="..." /></a>
                        <h5 style="color: #f7941d">Sketchfab</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://www.blender.org/" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/blender.png' %}" alt="..." /></a>
                            <h5 style="color: #f7941d">Blender</h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="https://3dscannerapp.com/" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/3dscanner.png' %}" alt="..." /></a>
                        <h5 style="color: #f7941d">3D Scanner App</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <a href="http://www.open3d.org/" target="_blank"><img class="img-fluid rounded-circle mb-3" src="{% static 'core/assets/img/Open3D.png' %}" alt="..." /></a>
                        <h5 style="color: #f7941d">La nueva</h5>
                    </div>
                </div>
            </div>
        </div>
       
</section>

{% endblock %}


