{% extends 'core/base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Add your dream room video for an <font color = "#f7941d"> immersive </font>visit!</h1>
                           <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                                <div class="col-md-6" style="width: 100%; margin-bottom: 30px;" >
                                    <input style="margin-bottom: 10px;" type="file" class="form-control" id="images" name="video" onchange="preview_images();"/>

                                    <input style="margin-bottom: 10px; background-color: #f7941d;" type="submit" class="btn" name='submit_video' value="Submit Video"/>

                                    <input style="margin-bottom: 10px;" type="file" class="form-control" id="images" name="transforms" onchange="preview_images();"/>

                                    <input style="margin-bottom: 10px; background-color: #da5050;" type="submit" class="btn" name='submit_video&trans' value="Submit Vídeo and Transforms"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-speedometer2 m-auto text-primary"></i></div>
                            <h3>Fast</h3>
                            <p class="lead mb-0">Thanks to our developers we get very fast response time</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-gear-fill m-auto text-primary"></i></div>
                            <h3>High technology</h3>
                            <p class="lead mb-0">We use the latest programs and algorithms to develop them</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-hand-thumbs-up m-auto text-primary"></i></div>
                            <h3>Easy to Use</h3>
                            <p class="lead mb-0">Simple to use so that it is available to everyone</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}