<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
  </head>

  <body>

    <div class="sketchfab-embed-wrapper"> 
        <iframe title="Mad Car 8k resolution" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/f6564f28bd7b42829e3463a9a5d2ecc1/embed"> </iframe> 
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> 
        <a href="https://sketchfab.com/3d-models/mad-car-8k-resolution-f6564f28bd7b42829e3463a9a5d2ecc1?utm_medium=embed&utm_campaign=share-popup&utm_content=f6564f28bd7b42829e3463a9a5d2ecc1" target="_blank" style="font-weight: bold; color: #1CAAD9;"> Mad Car 8k resolution </a> by <a href="https://sketchfab.com/mohamedhussien?utm_medium=embed&utm_campaign=share-popup&utm_content=f6564f28bd7b42829e3463a9a5d2ecc1" target="_blank" style="font-weight: bold; color: #1CAAD9;"> mohamedhussien </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=f6564f28bd7b42829e3463a9a5d2ecc1" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>
    </div>
    <!-- Bootstrap -->
    {% load static %}
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>